<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=500, initial-scale=1">
  <link rel="preconnect"
        href="https://fonts.googleapis.com">
  <link rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
        rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ['Inter', 'sans'],
          }
        },
      },
    }
  </script>
  <style>
    body,
    html {
      min-height: 100vh;
    }
  </style>
  <title>{% block title %}{% endblock %} &mdash; Trace Explorer</title>
</head>

<body>
  <div id="error-modal" class="fixed w-screen hidden h-screen p-5 z-10 flex flex-col items-center bg-black/10 backdrop-blur-sm">
    <div class="border-2 border-black bg-white shadow-lg p-5 text-lg flex items-center gap-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-black h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
      </svg>
      <span id="error-message">Something has gone wrong.</span>
    </div>
  </div>
  <!-- Add error modal logic -->
  <script>
    $('#error-modal').on('click', (event) => {
      $('#error-modal').addClass('hidden')
    })
    function showErrorModal(content) {
      $('#error-modal').removeClass('hidden');
      $('#error-message').text(content);
    }
  </script>
  <div class="min-h-screen max-h-screen flex relative max-w-screen relative">
    <div class="p-4 h-screen bg-black text-gray-100 w-40 shrink-0">
      <div class="text-2xl font-medium py-2">Trace<br>Explorer</div>
      <div class="py-2">
        <ul class="flex flex-col gap-4 text-lg text-gray-400">
          <li><a class="border-b-2 border-transparent hover:border-gray-100 {% if active == 'convert' %}text-gray-100{% endif %}"
               href="/convert">Convert</a></li>
          <li><a class="border-b-2 border-transparent hover:border-gray-100 {% if active == 'preprocess' %}text-gray-100{% endif %}"
               href="/preprocess">Preprocess</a></li>
          <li><a class="border-b-2 border-transparent hover:border-gray-100 {% if active == 'visualize' %}text-gray-100{% endif %}"
               href="/visualize">Visualize</a></li>
          <li><a class="border-b-2 border-transparent hover:border-gray-100 {% if active == 'compare' %}text-gray-100{% endif %}"
               href="/compare">Compare</a></li>
        </ul>
      </div>
    </div>
    {% block content %}{% endblock %}
  </div>

</body>

</html>