{% extends "layout.html" %}

{% block title %}Visualize{% endblock %}

{% block content %}
<div class="h-screen w-full flex">
  <div class="p-4 border-r border-gray-300">
    <form class="flex flex-col gap-4">
      <div class="flex gap-2 items-center text-lg font-medium">
        <label for="source">Dataset</label>
      </div>
      <div class="">
        <select name="source"
                id="source-selector"
                class="border border-gray-900 h-8 px-2 w-full">
          <option>mssql.parquet</option>
          <option>snowset.parquet</option>
        </select>
      </div>
      <div class="flex gap-2 items-center text-lg font-medium">
        <label for="columns">Exclude features</label>
      </div>
      <div class="">
        <select name="columns"
                id="column-selector"
                multiple
                class="border border-gray-900 h-8 px-2 w-full h-24">
        </select>
      </div>
      <div class="flex gap-2 items-center text-lg font-medium">
        <label for="params">Parameters</label>
      </div>
      <div class="flex items-center gap-2">
        <label for="threshold">Threshold</label>
        <input type="range"
               name="threshold"
               id="threshold-slider"
               min="1"
               max="50"
               value="20">
        <div id="threshold-value"
             class="w-10 h-6 p-1 border border-black flex items-center"></div>
      </div>
      <div class="flex items-center gap-2">
        <label for="perplexity">Perplexity</label>
        <input type="range"
               name="perplexity"
               id="perplexity-slider"
               min="10"
               max="50"
               value="30">
        <div id="perplexity-value"
             class="w-10 h-6 p-1 border border-black flex items-center"></div>
      </div>
      <div class="flex items-center gap-2">
        <label for="iterations">Iterations</label>
        <input type="range"
               name="iterations"
               id="iterations-slider"
               min="500"
               max="5000"
               value="2000">
        <div id="iterations-value"
             class="w-10 h-6 p-1 border border-black flex items-center"></div>
      </div>
      <div class="flex gap-2 items-center">
        <button role="submit"
                id="visualize-submit"
                class="bg-black flex items-center font-medium shadow-lg hover:shadow-xl hover:bg-gray-800 py-2 px-4 text-white">
          <div class="h-5 w-5 -ml-1 mr-3">
            <svg xmlns="http://www.w3.org/2000/svg"
                  id="go-submit"
                 class="h-5 w-5 text-white"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor"
                 stroke-width="2">
              <path stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14 5l7 7m0 0l-7 7m7-7H3" />
            </svg>
            <svg id="in-progress"
                 class="animate-spin h-5 w-5 text-white hidden"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24">
              <circle class="opacity-25"
                      cx="12"
                      cy="12"
                      r="10"
                      stroke="currentColor"
                      stroke-width="4"></circle>
              <path class="opacity-75"
                    fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
              </path>
            </svg>
          </div>
          Visualize
        </button>
      </div>
    </form>
  </div>
  <div class="p-4 flex-grow">
    <div class="flex gap-2 items-center text-lg font-medium">Output
    </div>
    <img id="output"
         class="max-h-full"></img>
  </div>
</div>
<script>
  $.post('/list_sources', {}, (data) => {
    console.log(data);

    $('#source-selector').empty();
    for (let s of data.sources) {
      $('#source-selector').append($("<option>").val(s).text(s))
    }

    $('#source-selector').trigger('change');
  })

  $('#source-selector').change((event) => {
    $.post('/list_source_columns', { source: event.target.value }, (data) => {
      $('#column-selector').empty();
      for (let s of data.columns) {
        $('#column-selector').append($("<option>").val(s).text(s))
      }
    })
  })

  $('#threshold-slider').change((event) => {
    $('#threshold-value').text(event.target.value)
  })
  $('#perplexity-slider').change((event) => {
    $('#perplexity-value').text(event.target.value)
  })
  $('#iterations-slider').change((event) => {
    $('#iterations-value').text(event.target.value)
  })
  $('#threshold-slider').trigger('change')
  $('#perplexity-slider').trigger('change')
  $('#iterations-slider').trigger('change')

  $('#visualize-submit').click((event) => {
    event.preventDefault();

    let threshold = $('#threshold-slider').val();
    let perplexity = $('#perplexity-slider').val();
    let exclude = $('#column-selector').val();
    let source = $('#source-selector').val();
    let iterations = $('#iterations-slider').val();

    // send configuration to server, request computation
    $('#in-progress').removeClass('hidden')
    $('#go-submit').addClass('hidden')
    $('#visualize-submit').attr('disabled', true)
    $.ajax('/visualize', {
      data: JSON.stringify({ threshold, perplexity, exclude, source, iterations }),
      contentType: 'application/json',
      type: 'POST',
      success: (response) => {
        $('#output').attr('src', 'data:image/png;base64,' + response.data)
        $('#in-progress').addClass('hidden')
        $('#go-submit').removeClass('hidden')
        $('#visualize-submit').attr('disabled', false)
      }
    })
  })

</script>
{% endblock %}